#chat {
    height: 490px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    overflow-y: auto;
    width: 100%;
}

#chat p {
    padding: 10px;
    background-color: rgba(83, 83, 83, 0.3);
    border-radius: 20px;
    grid-column: 1 / -1; /* force each message to full row */
    max-width: 60%;
    word-wrap: break-word;
    margin-bottom: 0;
    margin-top: 0;
    border: solid 2px rgba(255, 255, 255, 0.05);
}

.chat-question {
    justify-self: end; /* user on right */
    background-color: rgba(0, 132, 255, 0.8); /* blue bubble */
    color: white;
}

.chat-answer {
    justify-self: start; /* bot on left */
    background-color: rgba(50, 50, 50, 0.8); /* dark bubble */
    color: white;
}

#chat::-webkit-scrollbar {
    width: 5px;
}

#chat::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
}

#chat::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0);
}

#input-chat {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    position: fixed;
    bottom: 2px;
    left: 0;
}

#input-chat input {
    width: 70%;
    max-width: 750px;
    padding: 10px 20px;
    height: 40px;
    font-size: 20px;
    color: white;
    border-radius: 35px;
    border: solid 2px rgba(255, 255, 255, 0.137);
    background-color: rgba(37, 37, 37, 0.603);
    backdrop-filter: blur(10px);
}

#input-chat button {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: solid 2px rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input-chat button ion-icon {
    font-size: 25px;
}
#chat p:first-child {
    margin-top: 400px; /* enough space for input bar */
}
#chat p:last-child {
    transition: 1s;
    border: solid 2px rgba(255, 255, 255, 0.2);
    margin-bottom: 50px;
}

#chat img {
    width: 200px;
    object-fit:contain;
    border-radius: 10px;
}
#chat iframe {
    width: 200px;
    height: 150px;
    border-radius: 10px;
}
.browser-chat-link {
    opacity: 0.5;
}